/* GLOBAL */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	background-color: #FFF;
	color: #000;
	font-family: Arial, Times, sans-serif;
}

/* HEADER */
h1 {
	font-size: 8em;
	float: left;
	padding-left: 12%;
	margin-left: 12%;
}

div.entete img {
	min-width: 300px;
	max-width: 300px;
	float:left;
}
div.clearfloat
{
	clear:both;
}
div.soustitre h2 {
	font-size: 1.5em;
	text-align: center;
	margin: 60px auto;
}

/* MAIN */
main{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
div.duoformation div.formation1, div.duoformation div.formation2
{
	display: inline-block;
}
div.duoformation div.formation1
{
	width: 45%;
	margin: 2%;
	padding: 2%;
	background-color: #FFF;
	border: 6px solid darkcyan;
	border-radius: 10px;
}
div.formation1 h3
{
	text-align: left;
	font-size: 1.8em;
}
div.duoformation div.formation1 img{
	padding-left: 50%;
}
div.formation1 p{
	text-align:left;
}
div.readmore1
{
	text-align:left;
	margin-top: 10px;
	padding-top:10px;
}
div.readmore2
{
	text-align:right;
	margin-top:10px;
	padding-top:10px;
}

div.readmore1 a,div.readmore2 a {
	padding: 10px;
	background-color: darkcyan;
	color: black;
	text-decoration: none;
	font-size: 1.3em;
	border:2px solid #000;
	border-radius: 10px;
}
div.readmore1 a:hover,div.readmore2 a:hover{
	padding: 10px;
	background-color: black;
	color: darkcyan;
	text-decoration: none;
	font-size: 1.3em;
	border:2px solid #000;
	border-radius: 10px;
}
div.duoformation div.formation2 {
	width: 45%;
	margin: 2%;
	padding: 2%;
	background-color: #FFF;
	border: 6px solid darkcyan;
	border-radius: 10px;
}
div.formation2 h3
{
	text-align: right;
	font-size: 1.8em;
}
div.duoformation div.formation2 img{
	padding-right: 50%;
}
div.formation2 p {
	text-align:left;
}
div.formationplus a {
	text-decoration:none;
	font-size: 1.5em;
	font-weight: bolder;
}
div.formationplus {
	width: 45%;
	margin: 3%;
	padding: 2%;
	background-color: #FFF;
	border: 6px solid darkcyan;
	border-radius: 10px;
}

/* FOOTER */
footer {
	background-color:#000;
	color:darkgrey;
	overflow:auto;
}
footer div.entetenartbasdepage {
    display: inline-block;
	vertical-align: top;
	padding:4%;
	margin:4%;
	text-align:center;
}
footer div.entetenartbasdepage a {
	display:block;
	vertical-align: top;
	text-decoration: none;
	color:gray;
}
footer div.entetenartbasdepage h6 {
	font-size: 1.3em;
}
section div.formation1
{
	text-align:center;
	margin:0 auto;

}
footer div.copyright
{
	text-align:center;
	margin:0 auto;
}

/* MEDIA QUERIES */